body {
    font-family: "Nunito", sans-serif;
}

.header {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.header_item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.div1 {
    background-color: #ffffff;
    display: block;
    margin: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.wtf {
    text-align: center;
}

.container {
    background-color: #ffffff;
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre el título y la sección de heejin */
}

.section {
    display: flex;
    gap: 40px; /* Espacio entre la imagen y el texto */
    align-items: flex-start; /* Alinea al principio del contenedor */
}

.webon {
    display: flex;
    align-items: center;
    align-items: flex-start;
}

.loonamembers {
    text-align: center;
}

.heejin {
    margin-left: 50px;
    color: #ED008E;
}

.heejinpfp { 
    height: 250px; 
    width: 170px;
}

.heejindesc {
    margin-top: 70px; 
    margin-right: 50px;
    margin-left: 30px;
}

.heejinmeme1 {
    margin-top: 70px;
    margin-right: 10px;
}

.heejinmeme2 {
    margin-top: 70px;
    margin-right: 10px;
}

.hyunjin {
    margin-left: 50px; 
    color: #FFCA14;
}

.haseul {
    margin-left: 50px;
    color: #03A233;
}

.haseulpfp {
    height: 210px;
    width: 180px;
}

.yeojin {
    margin-left: 50px;
    color: #FE9702;
}

.vivi {
    color: #FFC5C8;
    margin-left: 60px;
    text-shadow: #c99498 2px 3px 2px;;
}

.kimlip {
    color: #D90011;
    margin-left: 50px;
}

.jinsoul {
    color: #0801D5;
    margin-left: 50px;
}

.choerry {
    color: #BA01DE;
    margin-left: 50px;
}

.yves {
    color: #790105;
    margin-left: 70px;
}

.chuu {
    color: #FEA87D;
    margin-left: 70px;
}

.gowon {
    color: #02BCA1;
    margin-left: 50px;
}

.hyeju {
    margin-left: 50px;
}

@media screen and (max-width: 763px){
    .container {
        margin: 15px;
    }

    .section {
        padding: 10px;
        gap: 10px;
        display: block;
    }

    .webon {
        display: flex;
        align-items: center;
    }

    .heejindesc {
        margin-left: 20px;
        margin-right: -20px;
        margin-bottom: 40px;
    }

    .heejinmeme1 {
        height: 150px;
    }

    .heejinmeme2 {
        height: 150px;
    }

    .div1 {
        margin: 15px;
    }
    
}